.dashboard-wrapper {
  max-width: 500px;
  max-height: 950px;
  height: 100vh;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 500px) {
  .dashboard-wrapper {
    max-width: 500px;
    max-height: 950px;
    height: 100vh;
    width: 100%;
    margin: 0;
    border: black 0.5em solid;
    border-radius: 0.5em;
    padding: 1em;
  }
}
