.nav-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  margin: 0;
}

.nav-container .new-button {
  height: 10%;
  text-align: end;
}

.nav-container .navbar-main-content {
  height: 80%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

.nav-container .navbar-main-content ul {
  margin: 0;
  padding: 0;
}

.nav-container .navbar-main-content li {
  border: black solid;
  border-top: none;
  position: relative;
}

.nav-container .navbar-main-content li:first-child {
  border-top: black solid;
}

.nav-container .navbar-main-content .conversations-list:hover {
  cursor: pointer;
}

.nav-container .delete-conversation-button {
  position: absolute;
  right: 0;
  width: 6%;
  margin-right: 1em;
}

.nav-container .delete-conversation-icon {
  width: 100%;
  visibility: hidden;
}

.nav-container .delete-conversation-button:hover .delete-conversation-icon {
  visibility: visible;
}

.nav-container .navbar-main-content .nav-main-content-list-text {
  margin: 1em 6em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-container .nav-buttons-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  opacity: 0.9;
  background-color: white;
}

.nav-container .nav-buttons-container .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.nav-container .nav-buttons-container .icon-image {
  height: 60%;
  background-color: transparent;
}

.nav-container .nav-main-content-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5em;
  list-style-type: none;
  text-align: center;
  border: black solid;
  border-bottom: none;
}

.nav-container .nav-main-content-list-text {
  margin: 0;
}

.nav-container .contact-name-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-container .contact-name-list:hover {
  cursor: default;
}

.nav-container .contact-name-list .delete-contact-button {
  position: absolute;
  right: 0;
  width: 6%;
  margin-right: 1em;
}

.nav-container .contact-name-list .delete-contact-icon {
  width: 100%;
  visibility: hidden;
  cursor: pointer;
}

.nav-container .delete-contact-button:hover .delete-contact-icon {
  visibility: visible;
}

/*Scrollbar style*/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: lightgrey grey;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: lightgrey;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid lightgrey;
}
